<div class="infor">
    <span><p>Name: Hoàng Minh Phát</p>
        <p>Email: 17520876@gm.uit.edu.vn</p>
        <p>Phone Number: 09xxxxxxxx</p>
    </span>
    <hr>
    <span>Copyright &#169; 2020</span>
    <p>
        <blockquote> Student List
                <cite>&mdash; H. M. P</cite>
        </blockquote>
    </p>
</div>
</body>
</html>